<table>
    <tr>
        <th>#</th>
        <th>Título</th>
        <th>Descrição</th>
        <th>Status</th>
        <th>Categoria</th>
        <th>Criado em</th>
        <th>Alterar Status</th>
    </tr>
    <tr *ngFor="let tarefa of tarefas">
        <td>{{ tarefa.tarefaId }}</td>
        <td>{{ tarefa.titulo }}</td>
        <td>{{ tarefa.descricao }}</td>
        <td>{{ tarefa.status }}</td>
        <td>{{ tarefa.categoria?.nome }}</td>
        <td>{{ tarefa.criadoEm }}</td>
        <td>
            <button (click)="alterar(tarefa.tarefaId!)">Editar</button>
        </td>
    </tr>
</table>
